@if (ViewBag.Langue == "fr")
{
    <div id="formavis" style="display: none;">
        @using (Html.BeginForm())
        {
            @Html.Label("nom", "Nom* : ")
            @Html.TextBox("nom", null, new { required = "true" })
            <span id="nomIncorrect" style="display: none;"> Nom incorrect </span>

            @Html.Hidden("rate", new { value = "0" })

            <div id="note">
                <img src="~/Content/image/star0.png" alt="etoile pleine" class="etoile" id="_1" onmouseover="noter(1);" onclick="valider(1);" />
                <img src="~/Content/image/star0.png" alt="etoile pleine" class="etoile" id="_2" onmouseover="noter(2);" onclick="valider(2);" />
                <img src="~/Content/image/star0.png" alt="etoile pleine" class="etoile" id="_3" onmouseover="noter(3);" onclick="valider(3);" />
                <img src="~/Content/image/star0.png" alt="etoile pleine" class="etoile" id="_4" onmouseover="noter(4);" onclick="valider(4);" />
                <img src="~/Content/image/star0.png" alt="etoile pleine" class="etoile" id="_5" onmouseover="noter(5);" onclick="valider(5);" /><br />
                <input type="button" value="Reset" name="reset" id="reset" onclick="zero();" />
            </div>

            @Html.TextArea("opinion", "Votre avis...", new { rows = "10", cols = "50", onclick = "enleve();", onblur = "remets();", required = "true" })<br />
            <span id="desIncorrect" style="display: none"> Merci laisser un petit mot</span><br />

            <div class="row" id="cgu">
                <label for="valideCgu" class="col-10"> En validant je reconnaîs avoir pris connaissance et accepté les <a href="~/Content/CGU/condition_utilisation_mentions_legales.pdf"> Conditions d'utilisation et mentions légales</a></label>
                <input type="checkbox" name="valideCgu" id="valideCgu" />
            </div>

            <input type="submit" name="poster" id="poster" value="Poster" onclick="enleve();" disabled="disabled" />

            <script src='~/Content/javascript/validationAvis.js'></script>
        }
    </div>
}
else
{
<div id="formavis" style="display: none;">
    @using (Html.BeginForm())
    {
        @Html.Label("nom", "Name* : ")
        @Html.TextBox("nom", null, new { required = "true" })
        <span id="nomIncorrect" style="display: none"> Incorrect Name </span>

        @Html.Hidden("rate", new { value = "0" })

        <div id="note">
            <img src="~/Content/image/star0.png" alt="etoile pleine" class="etoile" id="_1" onmouseover="noter(1);" onclick="valider(1);" />
            <img src="~/Content/image/star0.png" alt="etoile pleine" class="etoile" id="_2" onmouseover="noter(2);" onclick="valider(2);" />
            <img src="~/Content/image/star0.png" alt="etoile pleine" class="etoile" id="_3" onmouseover="noter(3);" onclick="valider(3);" />
            <img src="~/Content/image/star0.png" alt="etoile pleine" class="etoile" id="_4" onmouseover="noter(4);" onclick="valider(4);" />
            <img src="~/Content/image/star0.png" alt="etoile pleine" class="etoile" id="_5" onmouseover="noter(5);" onclick="valider(5);" /><br />
            <input type="button" value="Reset" name="reset" id="reset" onclick="zero();" />
        </div>

        @Html.TextArea("opinion", "Your opinion...", new { rows = "10", cols = "50", onclick = "enleveen();", onblur = "remetsen();", required = "true" })<br />
        <span id="desIncorrect" style="display: none;"> Thanks to let a little word. </span><br />

        <div class="row" id="cgu">
            <label for="valideCgu" class="col-10"> By validating I acknowledge having read and accepted the <a href="~/Content/CGU/condition_utilisation_mentions_legales.pdf"> terms of use and legal notices </a></label>
            <input type="checkbox" name="valideCgu" id="valideCgu" />
        </div>

        <input type="submit" name="poster" id="poster" value="Post" onclick="enleveen();" disabled="disabled" />

        <script src='~/Content/javascript/validationAvis.js'></script>
    }
</div>
}
